<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="ViviGest, Condominios, Administración, Servicios" />
    <meta name="description" content="ViviGest - Plataforma para la gestión y administración de condominios." />
    <meta name="author" content="ViviGest Team" />

    <title>ViviGest - Gestión de Condominios</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section starts -->
        <!-- Aquí puedes agregar un banner o imagen destacada -->
        <!-- end header section -->
    </div>

    <!-- booking section -->

    <section class="contact_section layout_padding">
        <div class="custom_heading-container">
            <h3 class=" ">
                Reserva en Línea
            </h3>
        </div>
        <div class="container layout_padding2-top">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Nombre Completo" />
                        </div>
                        <div>
                            <input type="email" placeholder="Correo Electrónico" />
                        </div>
                        <div>
                            <input type="text" placeholder="Número de Teléfono" />
                        </div>
                        <div>
                            <select name="" id="">
                                <option value="" disabled selected>Tipo de Servicio</option>
                                <option value="">Duda Especifica</option>
                                <option value="">Pago de Administracion</option>
                                <option value="">Correspondencia</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Mensaje o solicitud" />
                        </div>
                        <div class="d-flex justify-content-center ">
                            <button>
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <!-- end booking section -->
    <!-- info section -->
    <section class="info_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info-logo">
                        <h2>
                            ViviGest
                        </h2>
                        <p>
                            Plataforma líder en gestión de condominios, ofreciendo soluciones completas para administración, comunicación y control.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-nav">
                        <h4>
                            Navegación
                        </h4>
                        <ul>
                            <li>
                                <a href="index.html">
                                    Inicio
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Acerca de
                                </a>
                            </li>
                            <li>
                                <a href="service.html">
                                    Servicios
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Contáctanos
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Iniciar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-contact">
                        <h4>
                            Información de Contacto
                        </h4>
                        <div class="location">
                            <h6>
                                Oficina Central:
                            </h6>
                            <a href="https://goo.gl/maps/tuoficinamapa" target="_blank" rel="noopener">
                                <img src="~/Content/images/location.png" alt="Ubicación" />
                                <span>
                                    Calle Principal 123, Colombia
                                </span>
                            </a>
                        </div>
                        <div class="call">
                            <h6>
                                Servicio al Cliente:
                            </h6>
                            <a href="tel:+571234567890">
                                <img src="~/Content/images/telephone.png" alt="Teléfono" />
                                <span>
                                    (+57) 123 456 7890
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="discover">
                        <h4>
                            Descubre
                        </h4>
                        <ul>
                            <li>
                                <a href="#">
                                    Ayuda
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    ¿Cómo funciona?
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Suscríbete
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Contáctanos
                                </a>
                            </li>
                        </ul>
                        <div class="social-box">
                            <a href="https://facebook.com/vivigest" target="_blank" rel="noopener">
                                <img src="~/Content/images/facebook.png" alt="Facebook" />
                            </a>
                            <a href="https://twitter.com/vivigest" target="_blank" rel="noopener">
                                <img src="~/Content/images/twitter.png" alt="Twitter" />
                            </a>
                            <a href="https://plus.google.com/vivigest" target="_blank" rel="noopener">
                                <img src="~/Content/images/google-plus.png" alt="Google Plus" />
                            </a>
                            <a href="https://linkedin.com/company/vivigest" target="_blank" rel="noopener">
                                <img src="~/Content/images/linkedin.png" alt="LinkedIn" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            Copyright &copy; 2024 ViviGest. Todos los derechos reservados.
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</body>

</html>
