<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="ViviGest, Gestión Residencial, Administración, Visitantes, Pagos" />
    <meta name="description" content="ViviGest - Sistema para optimizar la administración de conjuntos residenciales." />
    <meta name="author" content="Equipo ViviGest - UdeC Facatativá" />

    <title>ViviGest</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/content/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/content/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <!-- end header section -->
        <!-- slider section -->
        <section class=" slider_section position-relative">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/content/images/slider-img.jpg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    ViviGest <br>
                                                    Gestión <br>
                                                    <span>
                                                        de Conjuntos Residenciales
                                                    </span>
                                                </h1>
                                                <p>
                                                    Sistema para optimizar la administración de conjuntos residenciales, facilitando control de visitantes, pagos y notificaciones.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/content/images/slider-img.jpg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Control <br>
                                                    de Visitantes <br>
                                                    <span>
                                                        Seguridad y Eficiencia
                                                    </span>
                                                </h1>
                                                <p>
                                                    Registra y gestiona el acceso de visitantes para garantizar la seguridad en el conjunto residencial.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/content/images/slider-img.jpg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Pagos <br>
                                                    y Notificaciones <br>
                                                    <span>
                                                        Simplificados y Seguros
                                                    </span>
                                                </h1>
                                                <p>
                                                    Facilita el pago de cuotas de administración y notifica automáticamente la llegada de correspondencia.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="slider_nav-box">
                    <div class="btn-box">
                        <a href="">
                            Leer Más
                        </a>
                        <hr>
                    </div>
                    <div class="custom_carousel-control">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>
    <div class="bg">

        <!-- about section -->
        <section class="about_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        SOBRE VIVIGEST
                    </h3>
                </div>
                <p class="layout_padding2-top">
                    ViviGest es un sistema de información diseñado para optimizar la administración de conjuntos residenciales,
                    facilitando la gestión de residentes, visitantes, pagos y notificaciones automáticas.
                </p>
                <div class="img-box layout_padding2">
                    <img src="/content/images/about-img.jpg" alt="">
                </div>
                <p class="layout_padding2-bottom">
                    Permite que residentes y personal de seguridad gestionen información de manera eficiente, mejorando la seguridad y simplificando procesos administrativos.
                </p>
            </div>
            <div class="container">
                <div class="btn-box">
                    <a href="">
                        Leer Más
                    </a>
                    <hr>
                </div>
            </div>
        </section>


        <!-- end about section -->
        <!-- service section -->

        <section class="service_section layout_padding-bottom">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        NUESTROS SERVICIOS
                    </h3>
                </div>
                <p class="">
                    Soluciones para una administración residencial eficiente.
                </p>
                <div class="service_container ">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="/content/images/s-1.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Registro de Usuarios
                                    </h6>
                                    <p>
                                        Gestión segura y fácil del registro de residentes y personal autorizado.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Leer Más
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="/content/images/s-2.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Control de Visitantes
                                    </h6>
                                    <p>
                                        Registro y monitoreo del acceso de visitantes para mayor seguridad.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Leer Más
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-3">
                                <div class="img-box">
                                    <img src="/content/images/s-3.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Notificaciones de Correspondencia
                                    </h6>
                                    <p>
                                        Informes automáticos sobre llegada de correspondencia para residentes.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Leer Más
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-4">
                                <div class="img-box">
                                    <img src="/content/images/s-4.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Pagos de Administración
                                    </h6>
                                    <p>
                                        Consulta y realización de pagos de cuotas de forma segura y sencilla.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Leer Más
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end service section -->
        <!-- work section -->

        <section class="work_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        CÓMO FUNCIONA
                    </h3>
                </div>
            </div>
            <div class="work_container ">
                <div class="box b-1">
                    <div class="img-box">
                        <img src="/content/images/w-1.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Registro de Usuarios
                        </h6>
                    </div>
                </div>
                <div class="box b-2">
                    <div class="img-box ">
                        <img src="/content/images/w-2.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Control de Visitantes
                        </h6>
                    </div>
                </div>
                <div class="box b-3">
                    <div class="img-box ">
                        <img src="/content/images/w-3.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Notificaciones Automáticas
                        </h6>
                    </div>
                </div>
                <div class="box b-4">
                    <div class="img-box ">
                        <img src="/content/images/w-4.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Pagos en Línea
                        </h6>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="btn-box">
                    <a href="">
                        Leer Más
                    </a>
                    <hr>
                </div>
            </div>
        </section>


        <!-- end work section -->
        <!-- contact section -->

        <section class="contact_section layout_padding">
            <div class="custom_heading-container">
                <h3 class=" ">
                    Reserva en Línea
                </h3>
            </div>
            <div class="container layout_padding2-top">
                <div class="row">
                    <div class="col-md-15 mx-auto">
                        <form action="">
                            <div>
                                <input type="text" placeholder="NOMBRE COMPLETO">
                            </div>
                            <div>
                                <input type="email" placeholder="CORREO ELECTRÓNICO">
                            </div>
                            <div>
                                <input type="text" placeholder="TELÉFONO">
                            </div>
                            <div>
                                <select name="" id="">
                                    <option value="" disabled selected>TIPO DE SERVICIO</option>
                                    <option value="">Registro de Visitantes</option>
                                    <option value="">Pago de Administración</option>
                                    <option value="">Consulta de Correspondencia</option>
                                </select>
                            </div>
                            <div>
                                <input type="text" class="message-box" placeholder="MENSAJE">
                            </div>
                            <div class="d-flex justify-content-center ">
                                <button>
                                    ENVIAR
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>

        <!-- end contact section -->

        <section class="client_section layout_padding-bottom">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        Testimonios de Clientes
                    </h3>
                </div>
                <div class="layout_padding2-top">
                    <div class="client_container">
                        <div class="detail-box">
                            <p>
                                "ViviGest ha facilitado la gestión residencial, mejorando la seguridad y simplificando procesos administrativos para todos los usuarios."
                            </p>
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="/content/images/client.png" alt="">
                            </div>
                            <div class="name">
                                <h5>
                                    Juan Pérez
                                </h5>
                                <h6>
                                    Residente
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- info section -->
        <section class="info_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info-logo">
                            <h2>
                                ViviGest
                            </h2>
                            <p>
                                Sistema integral para la gestión eficiente de conjuntos residenciales, garantizando seguridad y comodidad.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-nav">
                            <h4>
                                Navegación
                            </h4>
                            <ul>
                                <li>
                                    <a href="index.html">
                                        Inicio
                                    </a>
                                </li>
                                <li>
                                    <a href="about.html">
                                        Sobre Nosotros
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        Servicios
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        Contacto
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Iniciar Sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-contact">
                            <h4>
                                Contacto
                            </h4>
                            <div class="location">
                                <h6>
                                    Oficina Principal:
                                </h6>
                                <a href="">
                                    <img src="content/images/location.png" alt="">
                                    <span>
                                        Cra. 10 # 20-30, Facatativá, Colombia
                                    </span>
                                </a>
                            </div>
                            <div class="call">
                                <h6>
                                    Servicio al Cliente:
                                </h6>
                                <a href="tel:+571234567890">
                                    <img src="/content/images/telephone.png" alt="">
                                    <span>
                                        (+57) 1 234 567 890
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="discover">
                            <h4>
                                Descubre
                            </h4>
                            <ul>
                                <li>
                                    <a href="">
                                        Ayuda
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Cómo Funciona
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Suscribirse
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                            <div class="social-box">
                                <a href="">
                                    <img src="/content/images/facebook.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/content/images/twitter.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/content/images/google-plus.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/content/images/linkedin.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



       </div>
    </body>
</html>
