<!DOCTYPE html>
<html>

<head>
    <!-- Basicos -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Sitio -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ViviGest</title>

    <!-- slider  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css" />

    <!-- fuente -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link href="/content/css/style.css" rel="stylesheet" />
    
    <link href="/content/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header -->
       
        <!-- fin header  -->
        <!-- slider  -->
        <section class="slider_section position-relative">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/Content/images/slider.png" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Vivi <br>
                                                    <span>
                                                        Gest
                                                    </span>
                                                </h1>
                                                <p>
                                                    Simplificando la vida en tu conjunto residencial.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="~/Content/images/slider-img.jpg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    ViviGest <br>
                                                    Solutions <br>
                                                              <span>
                                                                  Para la Gestión Residencial
                                                              </span>
                                                </h1>
                                                <p>
                                                    Facilitando el control de visitantes, pagos de administración y más.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="slider_nav-box">
                    <div class="btn-box">
                        <a href="">
                            Saber Mas
                        </a>
                        <hr>
                    </div>
                    <div class="custom_carousel-control">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>
    <div class="bg">
        <!-- about section -->
        <section class="about_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        SOBRE VIVIGEST
                    </h3>
                </div>
                <p class="layout_padding2-top">
                    ViviGest es una plataforma creada para facilitar la administración de conjuntos residenciales, optimizando
                    el control de acceso, la gestión de correspondencia, y el manejo de pagos de administración. Todo, desde
                    un solo lugar, fácil y eficiente.
                </p>
                <div class="img-box layout_padding2">
                    <img src="/Content/images/about-img.jpg" alt="">
                </div>
                <p class="layout_padding2-bottom">
                    Con ViviGest, los residentes y administradores pueden interactuar de manera más fluida, mejorando la calidad de
                    vida y reduciendo la carga operativa. Todo esto con la seguridad y la confiabilidad de un sistema moderno.
                </p>
            </div>
            <div class="container">
                <div class="btn-box">
                    <a href="">
                        Saber Mas
                    </a>
                    <hr>
                </div>
            </div>
            </div>
        </section>

        <!-- end about section -->
        <!-- service section -->
        <section class="service_section layout_padding-bottom">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        NUESTROS SERVICIOS
                    </h3>
                </div>
                <p class="">
                    Descubre todos los servicios que ViviGest tiene para ofrecerte.
                </p>
                <div class="service_container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="/Content/images/s-1.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Registro de Visitantes
                                    </h6>
                                    <p>
                                        Gestiona de manera eficiente el acceso a tu conjunto residencial.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Saber Mas
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="/Content/images/s-2.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Notificación de Correspondencia
                                    </h6>
                                    <p>
                                        Recibe alertas automáticas sobre la llegada de tu correspondencia.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Saber Mas
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-3">
                                <div class="img-box">
                                    <img src="/Content/images/s-3.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Pagos de Administración
                                    </h6>
                                    <p>
                                        Realiza tus pagos de administración de manera rápida y segura.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Saber Mas
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-4">
                                <div class="img-box">
                                    <img src="/Content/images/s-4.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Control de Acceso
                                    </h6>
                                    <p>
                                        Controla y autoriza el acceso de visitantes y residentes.
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            Saber Mas
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end service section -->
        <!-- work section -->

        <section class="work_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        COMO TRABAJAMOS
                    </h3>
                </div>
            </div>
            <div class="work_container">
                <div class="box b-1">
                    <div class="img-box">
                        <img src="/Content/images/w-1.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Registra Visitantes
                        </h6>
                    </div>
                </div>
                <div class="box b-2">
                    <div class="img-box">
                        <img src="/Content/images/w-2.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Recibe Correspondencia
                        </h6>
                    </div>
                </div>
                <div class="box b-3">
                    <div class="img-box">
                        <img src="~/Content/images/w-5.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Realiza Pagos
                        </h6>
                    </div>
                </div>
                <div class="box b-4">
                    <div class="img-box">
                        <img src="/Content/images/w-4.png" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            Controla el Acceso
                        </h6>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="btn-box">
                    <a href="">
                        Saber Mas
                    </a>
                    <hr>
                </div>
            </div>
        </section>

        <!-- end work section -->
        <!-- contact section -->

        <<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            NOS COMUNICAMOS CONTIGO
        </h3>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="" style="margin-right: 300px;">
                    <div>
                        <input type="text" placeholder="NOMBRE">
                    </div>
                    <div>
                        <input type="email" placeholder="EMAIL">
                    </div>
                    <div>
                        <input type="text" placeholder="NUMERO DE TELEFONO">
                    </div>
                    <div>
                        <select name="" id="">
                            <option value="" disabled selected>TIPOS DE SERVICIO</option>
                            <option value="">Registro de Visitante</option>
                            <option value="">Notificación de Correspondencia</option>
                            <option value="">Pago de Administración</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="MENSAJE">
                    </div>
                    <div class="d-flex justify-content-center ">
                        <button>
                            ENVIAR
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

        <!-- end contact section -->

        <section class="client_section layout_padding-bottom">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        NUESTROS CLIENTES
                    </h3>
                </div>
                <div class="layout_padding2-top">
                    <div class="client_container">
                        <div class="detail-box">
                            <p>
                                ViviGest ha transformado la forma en que gestionamos los conjuntos residenciales, brindando
                                mayor seguridad, eficiencia y comodidad para todos.
                            </p>
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="/Content/images/client.png" alt="">
                            </div>
                            <div class="name">
                                <h5>
                                    Juan Pérez
                                </h5>
                                <h6>
                                    Residente
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- info section -->
        <section class="info_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info-logo">
                            <h2>
                                ViviGest
                            </h2>
                            <p>
                                Una plataforma para la gestión eficiente de conjuntos residenciales. Simplifica la administración
                                y mejora la calidad de vida de los residentes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-nav">
                            <h4>
                                Navegación
                            </h4>
                            <ul>
                                <li>
                                    <a href="index.html">
                                        Inicio
                                    </a>
                                </li>
                                <li>
                                    <a href="about.html">
                                        Sobre nosotros
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        Servicios
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        Contacto
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-contact">
                            <h4>
                                Contact Info
                            </h4>
                            <div class="location">
                                <h6>
                                    Oficina:
                                </h6>
                                <a href="">
                                    <img src="/Content/images/location.png" alt="">
                                    <span>
                                        Cra 1a #1b-45, Bogotá, Colombia
                                    </span>
                                </a>
                            </div>
                            <div class="call">
                                <h6>
                                    Contactenos:
                                </h6>
                                <a href="">
                                    <img src="/Content/images/telephone.png" alt="">
                                    <span>
                                        ( +01 1234567890 )
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="descubre">
                            <h4>
                                Descubre
                            </h4>
                            <ul>
                                <li>
                                    <a href="">
                                        Ayuda
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Como funciona
                                    </a>
                                </li>
   
                                <li>
                                    <a href="contact.html">
                                        Contactanos
                                    </a>
                                </li>
                            </ul>
                            <div class="social-box">
                                <a href="">
                                    <img src="/Content/images/facebook.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/Content/images/twitter.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/Content/images/google-plus.png" alt="">
                                </a>
                                <a href="">
                                    <img src="/Content/images/linkedin.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end info_section -->
        <!-- footer section -->
        <section class="container-fluid footer_section">
            <p>
                Copyright &copy; 2025
              
            </p>
        </section>
        <!-- footer section -->

        <script type="text/javascript" src="/content/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/content/js/bootstrap.js"></script>
</body>

</html>
